* {
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #FFF;
}
.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0 4vh;
}